#include ".themes/ocean"

!! Font display settings
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! Cursor settings
Xcursor.theme:                    xcursor-breeze
Xcursor.size:                     0

!! URxvt appearance
URxvt.font:         xft:Hack-Regular:pixelsize=14
URxvt.boldFont:     xft:Hack-Bold:pixelsize=14:weight=bold
URxvt.italicFont:   xft:Hack-RegularOblique:pixelsize=14:slant=italic
URxvt.depth:                      32
URxvt.scrollBar:                  false
URxvt.internalBorder:             25
URxvt.letterSpace:                0
URxvt.lineSpace:                  3
URxvt.cursorBlink:                true
URxvt.cursorUnderline:            false
URxvt.saveLines:                  5000

!! URxvt copy-paste & navigation keybindings
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B

!! URxvt extensions
URxvt.perl-ext-common:            default,matcher
URxvt.matcher.button:             1
URxvt.url-launcher:               /usr/bin/xdg-open
